In [28]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

# ignore FutureWarning, 'cause it's so annoying 
import warnings

import matplotlib.pyplot as plt
%matplotlib inline

In [31]:
df = pd.read_csv('data.csv')

In [32]:
df.head()

,age,gender,branch,comfort,price,figure,popularity,quantity,budget
0,13,g,Adidas,1.0,1,1,0,2,2001-3000
1,13,g,converse,1.0,0,1,0,2,2001-3000
2,13,g,converse,1.0,0,1,0,2,1001-2000
3,13,g,Nike,1.0,1,1,0,1,1001-2000
4,13,b,NewBalance,0.0,1,1,0,2,2001-3000